// login.component.scss

// Cores principais
$primary-color: #4caf50;
$secondary-color: #ffffff;
$background-color: #f4f7f6;
$text-color: #333333;

// Fontes
$font-family: 'Arial', sans-serif;

// Estilos gerais
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%; // Garante que a altura do HTML e do body seja 100% da tela
  font-family: $font-family;
  background-color: $background-color;
  color: $text-color;
}

// Container principal
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $background-color;
  flex-direction: column; // Adicionando isso para organizar o conteúdo em coluna
  padding: 0 15px; // Garantir que tenha algum espaçamento nas laterais
}

// Formulário de login
.login-form {
  background-color: $secondary-color;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%; // Garantir que o formulário ocupe 100% da largura disponível
  max-width: 400px; // Limitar a largura máxima do formulário
}

h2 {
  margin-bottom: 20px;
}

.button-container {
  margin-top: 20px;
}

.error {
  color: red;
  margin-top: 20px;
}

