<div class="container">
    <nav class="sidebar">
      <h2>Projeto Sankhya</h2>
      <ul>
        <li><a routerLink="cliente" routerLinkActive="active">Cliente</a></li>
        <li><a routerLink="produto" routerLinkActive="active">Produto</a></li>
        <li><a routerLink="pedido" routerLinkActive="active">Pedido</a></li>
        <li><a routerLink="relatorio-pedido" routerLinkActive="active">Relatório de Pedidos</a></li>
      </ul>      
    </nav>
  
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
  